*{
    margin: 0;
    padding: 0;
    

}

body{
    background-image: url("../360_F_301112401_G5pAk5Cz9FNYA6myJ7vI4FLwIhudGk2M.jpg")center center fixed;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 8%;
    background-size: cover;
    
      height: 50vh;
}



.navbar{
    height: 15%;
    display: flex;
    align-items: center;
}
.logo{
    width: 70px;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    font-family:  "Lucida Console", "Courier New", monospace;
    
}

nav ul li a{
    text-decoration:double;
    color:cyan;
    font-size: 13px;
}

.h111{
    
    color: rgb(203, 236, 236);
}
form
{

margin: 0 auto;
}
label, input, textarea
{
display: block;
margin-bottom: 10px;
}
input[type="submit"]
{
background-color: 
rgb(11, 11, 156);

padding: 10px 10px;
border: none;
cursor: pointer;
}
input[type="submit"]:hover
{
background-color: 
rgb(89, 89, 243);
}
.buttonset .btn1{
    background-color:rgba(70, 131, 180, 0.729);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

} 



.container{
    width: 88%;
    margin:50px auto;
}

.contact-box{
    
    display: flex;
}


.contact-left{
    flex-basis:60%;
    padding: 40px  60px;
}

.contact-right{
    flex-basis:60%;
    padding:20px 20px;
    background: #013038;
    color: #fff;
    width: 25%;
    position: absolute;
    left: 820px;
    top: 450px;
}
h1{
    margin-bottom: 10px;
}

.container p{
    margin-bottom: 40px;

}

.input-row{
    display:flexbox;
    justify-content:space-between;
    margin-bottom: 20px;


}

.input-row.input-group{
    flex-basis: 15%;
}

input{

    width: 30%;
    border-bottom:1px solid #ccc;
    outline: none;
    padding-bottom: 5px;

}


.textarea{
    width: 100%;
    border:1px solid #cccccc84;
    outline: none;
    padding: 10px;
    box-sizing:border-box;
}

label{
    margin-bottom: 5px;
    display: block;
    color: #03303d;
}
 
.submit{
    background: #045a5a;
    width: 100px;
    outline: none;
    color: #e6dddd;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px;
}

tr td:first-child{
    padding-right: 20px;
    
}

tr td{
    padding-top: 20px;
}
