*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../istockphoto-1131821585-170667a.webp")center center fixed;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 8%; 
    background-size:contain;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul li a{
    text-decoration:double;
    color:rgb(42, 99, 3);
    font-size: 13px;
}


.h111{
    
    color: rgb(1, 82, 15);
}


  h3{
color: rgb(2, 48, 2);
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
 
}
.GP{
    color: rgb(71, 116, 3);

}
.GP1{
    color:rgb(81, 131, 7);

}


