*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../f78bc30bae497bbf24dccf53fe39db67.jpg")center center fixed;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 8%; 
    background-size:cover;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav ul li a{
    text-decoration:double;
    color:rgb(209, 60, 6);
    font-size: 13px;
}


.h111{
    
    color: rgb(150, 42, 3);
}

.column {
    float: left;
    width: 33%;
    padding: 10px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  h3{
    color: rgb(160, 64, 30);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

.GP{
   color: rgb(185, 51, 2);
}

.GP1{
    color: rgb(179, 62, 20);

}
